{{#extends "base"}}
  {{#block "content"}}

<form method = "GET">
  <input type = "text" name = "name" class="form-control mt-2 mb-2" value = "{{name}}" placeholder = "Search by Name">
  <input type = "text" name = "desc" class="form-control mt-2 mb-2" value = "{{desc}}" placeholder = "Search by Description">
  <input type = "submit" name = "submit-btn" value = "Search" class="btn btn-primary">
</form>

 <table class="table">
   <thead>
     <tr>
	<th scope="col">Name</th>
	<th scope="col">Email</th>
	<th scope="col">Issue Type</th>
	<th scope="col">Description</th>
	<th scope="col">Happened Before</th>
	<th scope="col">If so, why again</th>
     </tr>
   </thead>
   
   <tbody>
    	{{#each complaint}}
	  <tr>
	   <td>{{this.name}}</td>
	   <td>{{this.email}}</td>
	   <td>{{this.issue_type}}</td>
	   <td>{{this.issue_desc}}</td>
	   <td>{{this.yesnoradio}}</td>
	   <td>{{this.happen_again}}</td>
	 {{/each}}
	  </tr>
   </tbody>
 </table>

    {{/block}}

{{/extends}}
